@import "tailwindcss";

* {
  box-sizing: border-box;

    scrollbar-width: none;
}

html,
body {
  width: 100%;
  min-height: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;

}

body {
  background: #f7f5f0;
  color: #111111;
  font-family: "Inter", sans-serif;
}

h1,
h2,
h3 {
  font-family: "Cormorant Garamond", serif;
}